.container
  .row
    .col-xs-12
      %table.table.table-hover
        %thead
          %tr
            %th Book
            %th Price
            %th Qty
            %th Total
        %tbody
          - current_cart.items.each do |item|
            %tr
              %td= item.book.title
              %td= number_to_currency item.price
              %td= item.quantity
              %td= number_to_currency item.sum
          %tr.warning
            %td
              %strong SUBTOTAL
            %td
              %strong= current_cart.discount_string
            %td
              %strong
                %s= price_without_discount_if_any
            %td
              %strong= number_to_currency current_cart.sum
  .row
    .col-xs-12
      .pull-left
        = render 'coupons/apply'
      .pull-right
        = button_to 'Checkout', cart_path, class: ['btn', 'btn-primary']
