.container
  .row
    .col-md-4
      %center
        %img{src: @book.image_url(:normal)}
    .col-md-8
      %h2= @book.title
      %p
        %strong Price:
        = number_to_currency @book.price
      %p
        %strong= 'Category'.pluralize(@book.categories.count) + ':'
        = categories_links(@book.categories)
      %p
        %strong= 'Author'.pluralize(@book.authors.count) + ':'
        = author_links(@book.authors)
      %p
        %strong Description:
        = @book.desc
      %p
        %strong Average Rating:
        = @book.rating
      =render 'books/add', book: @book
  %br
    -if can? :create, Review
      .row.col-md-4
        %h3 Add review
        =render 'reviews/review_form', book: @book
  %br
    -if can? :read, Review
      .row.col-md-12
        %h3 Reviews
        =render @reviews
        - if @reviews.empty?
          %p
            %i No reviews yet.
