.container
  .row
    %h2= @book.title
    %p
      %strong Price:
      = @book.price
    %p
      %strong= 'Author'.pluralize(@book.authors.count) + ':'
      = @book.authors.map(&:name).join(', ')
    %p
      %strong Description:
      = @book.desc
