.container
  .row
    %h2= @book.title
    %p
      %strong Price:
      = number_to_currency @book.price
    %p
      %strong= 'Category'.pluralize(@book.categories.count) + ':'
      = categories_links(@book.categories)
    %p
      %strong= 'Author'.pluralize(@book.authors.count) + ':'
      = author_links(@book.authors)
    %p
      %strong Description:
      = @book.desc
    %a.btn.btn-primary{ href: cart_update_path(book: @book),
                        data: { method: 'patch',
                                remote: false } }
      Add to Cart
