.container
  .row
    %h2= @book.title
    %p
      %strong Price:
      = number_to_currency @book.price
    %p
      %strong= 'Category'.pluralize(@book.categories.count) + ':'
      - @book.categories.each do |category|
        = category.name + ';'
    %p
      %strong= 'Author'.pluralize(@book.authors.count) + ':'
      - @book.authors.each do |author|
        %a{href: author_path(author)}= author.name + ';' # wtf
    %p
      %strong Description:
      = @book.desc
    %a.btn.btn-primary{ href: cart_add_path(book: @book),
                        data: {method: 'patch'} }
      Add to Cart
