.container
  %h2
    Checkout
  %center
    .btn-group.btn-group-md{"aria-label" => "Large button group", :role => "group"}
      %button.btn.btn-primary{:type => "button"}= t('checkout.address_step')
      =link_to t('checkout.shipment_step'), edit_delivery_checkout_path(@order), class: ['btn', 'btn-default', (@order.shipment_available? ? '' : 'disabled')]
      =link_to t('checkout.payment_step'), edit_payment_checkout_path(@order), class: ['btn', 'btn-default', (@order.payment_available? ? '' : 'disabled')]
      =link_to t('checkout.confirm_step'), confirm_checkout_path(@order), class: ['btn', 'btn-default', (@order.confirm_available? ? '' : 'disabled')]
      %button.btn.btn-default.disabled{:type => "button"}= t('checkout.complete_step')
  .row
    = form_for @order, url: {controller: :checkouts, action: :update} do |order|
      .row
        = html_for_errors address_error_messages_of(flash[:errors], :billing_address)
        = html_for_errors address_error_messages_of(flash[:errors], :shipment_address)
      .row
        .col-sm-4#billing
          %h3= t('checkout.billing')
          = order.fields_for :billing_address do |f|
            = render 'address/edit', f: f
        .col-sm-4#shipment
          %h3= t('checkout.shipment')
          = order.fields_for :shipment_address do |f|
            .field.form-group
              = label_tag :use_billing_address
              = check_box_tag :use_billing_address, false
            %div#shipment_address
              = render 'address/edit', f: f
        =render 'order_summary'
        =order.hidden_field :step, value: @current_step
      .actions
        = order.submit t('checkout.save'), class: ['btn', 'btn-default']
